input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.head {
    background-color: black;
    color: white;
    width: 400px;
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    border-radius: 10px 10px 0px 0px;
}

.body {
    background-color: white;
    color: black;
    width: 400px;
    height: auto;
    vertical-align: middle;
    display: block;
    border-radius: 0px 0px 10px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    background-color: #424242;
    font-family: Verdana;
}
